<!-- _navbar.html.erb -->
<h1 class="pb-4">Trump Tweets X</h1>
          <h2 class="h6 text-uppercase">Range</h2>
          <label class="h6 text-uppercase"><small>Starting</small></label
          ><br />
          <input
            type="date"
            class="form-control-sm bg-light"
            id="startingDate"
          /><br />
          <label class="h6 text-uppercase pt-2"><small>Ending</small></label
          ><br />
          <input
            type="date"
            class="form-control-sm bg-light"
            id="endingDate"
          /><br />

          <h2 class="h6 text-uppercase pt-4">Filters</h2>
          <label class="h6 text-uppercase"><small>Sentiment</small></label
          ><br />
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="sentimentPositive"
            />
            <label class="form-check-label small" for="sentimentPositive"
              >Positive</label
            ><br />
            <input
              type="checkbox"
              class="form-check-input"
              id="sentimentNegative"
            />

            <label class="form-check-label small" for="sentimentNegative"
              >Negative</label
            ><br />
            <input
              type="checkbox"
              class="form-check-input"
              id="sentimentNeutral"
            />
            <label class="form-check-label small" for="sentimentNeutral"
              >Neutral</label
            ><br />
        <!-- end _navbar.html.erb -->

