<!-- _navbar.html.erb -->
<h1 class="pb-4">Trump Tweets X</h1>
          <h2 class="h5 text-uppercase">Range</h2>
          <%= form_with model: @trumptweet, method: :get do %>
          <h2 class="h6 text-uppercase">Starting</h2>
  <%= date_field_tag 'start_date', params[:start_date], placeholder: "Start Date", class: "text-muted" %><br>
  <h2 class="h6 text-uppercase">Ending</h2>
  <%= date_field_tag 'end_date', params[:end_date], placeholder: "End Date", class: "text-muted" %><br>
  <%= submit_tag 'Update View', class: "btn btn-primary u underline text-underline" %>
<% end %>
          <h2 class="h5 text-uppercase pt-4">Filters</h2>
          <p class="h6 text-uppercase text-white">Sentiment</p>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="sentimentPositive"
            />
            <label class="form-check-label small" for="sentimentPositive"
              >Positive</label
            ><br />
            <input
              type="checkbox"
              class="form-check-input"
              id="sentimentNegative"
            />

            <label class="form-check-label small" for="sentimentNegative"
              >Negative</label
            ><br />
            <input
              type="checkbox"
              class="form-check-input"
              id="sentimentNeutral"
            />
            <label class="form-check-label small" for="sentimentNeutral"
              >Neutral</label
            ><br />
        <!-- end _navbar.html.erb -->

