/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ADD BOOTSTRAP CSS */
@import "bootstrap";

.underline {
  text-decoration: underline !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-light {
  background-color: #ececec !important;
}

.px-2 {
  padding-left: 1em;
  padding-right: 1em;
}

.p0 {
  border: 0;
  padding: 0.25em 0 0 0;
  outline: none;
}

.pb-48 {
}

.py-1 {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.pt-4 {
  padding-top: 2em;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 300vh;
}
